@import url('https://fonts.font.im/css2?family=JetBrains+Mono:ital@0;1&family=Noto+Sans+SC:wght@200;400;800&display=swap'),
url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Noto+Sans+SC:wght@200;400;800&display=swap');
@import "code";

* {
  font-family: 'Noto Sans SC', sans-serif;
}

code {
  font-family: 'JetBrains Mono', 'Noto Sans SC', monospace;
  span {
    font-family: 'JetBrains Mono', 'Noto Sans SC', monospace;
  }
}
